body{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:bold;
}
.header,
.footer,
.section-left,
.section-right{
    background-color: rgb(238, 240, 240);
    text-align: center;
    padding: .5rem;
    border: 2px solid rgb(226, 226, 230);
}

.nav-header,
.header-section,
.nav,
.article,
.footer-section{
    background-color: rgb(225, 245, 247);
    color: rgb(32, 120, 221);
    padding: .5rem;
    margin: .5rem;
    border: 2px solid rgb(229, 227, 240);
}

.div-section,
.div-article{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0 ;
}

.section-left{
    width: 62%;
}

.header-article,
.paragraph,
.paragraph-art-first,
.aside,
.footer-art-first{
    background-color: rgb(223, 241, 230);
    color: rgb(26, 196, 68);
    padding: .5rem;
    margin: .5rem;
    border: 2px solid rgb(209, 233, 221);
}

.paragraph-art-first,
.aside{
    width: 50%;
}

.div-article{
    margin: 0;
}

.section-right{
   width: 30%;
}

.nav{
    height:83%;
    
}