input {
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(217, 255, 127);
    color: rgb(13, 88, 202);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid  rgb(13, 88, 202);
    margin-bottom: 20px;
}

.circle{
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 50%;
}